discordSettings.doNotUpload.json
venv/
__pycache__/
*.pyc
*.log
pyvenv.cfg
*.tar.gz

# Runtime state
BaseballConsumer/logs/game_events.db
BaseballConsumer/logs/game_thread.now
events.json
threads.json

*.doNotUpload.json
